flask
gunicorn
requests
numpy>=1.26.0
scikit-learn>=1.4.0
sentence-transformers>=2.7.0

pdfminer.six>=20221105

spacy>=3.7.0

flask-session>=0.6.0

redis>=5.0.0
flask-limiter>=3.5.0
bcrypt>=4.1.0
flask-wtf>=1.2.0